{% extends "base.html" %}
{% block content %}
<div class="container">
    <h1>Company Financials</h1>
    <p>
      <strong>Balance:</strong> ${{ "%.2f"|format(financial.balance if financial else 0) }}<br>
      <strong>Revenue:</strong> ${{ "%.2f"|format(financial.revenue if financial else 0) }}<br>
      <strong>Expenses:</strong> ${{ "%.2f"|format(financial.expenses if financial else 0) }}<br>
    </p>
    {% if is_admin %}
      <a href="{{ url_for('edit_company_financials') }}"><button>Edit Financials</button></a>
    {% endif %}
</div>
{% endblock %}