{% extends "base.html" %}
{% block content %}
<div class="container">
<h1>Edit Pilot: {{ pilot.username }}</h1>
<form method="post">
    <label>Username
        <input type="text" name="username" value="{{ pilot.username }}" required>
    </label>
    <label>Email
        <input type="email" name="email" value="{{ pilot.email }}" required>
    </label>
    {% if is_admin %}
        <label>
            <input type="checkbox" name="is_admin" {% if pilot.is_admin %}checked{% endif %}>
            Admin
        </label>
    {% endif %}
    <input type="submit" value="Save">
</form>
</div>
{% endblock %}